@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/background-photo.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  background-color: rgba(255, 255, 255, 0.3)
}

.header a,
.footer .footer-content .socials a,
.footer .footer-content .links ul a {
  display: inline-block;
  transition: transform .3s;
}

.header a:hover,
.footer .footer-content .socials a:hover,
.footer .footer-content .links ul a:hover{
  transform: scale(1.125);
}
